<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Virements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Start Date</ion-label>
    <ion-input type="date" [(ngModel)]="startDate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>End Date</ion-label>
    <ion-input type="date" [(ngModel)]="endDate"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="loadVirements()">Charger Virements</ion-button>

  <ion-list>
    <ion-item *ngFor="let virement of virements" [ngClass]="{'virement-valide': virement.statut === 'Validé', 'virement-rejete': virement.statut === 'Annulé'}">
      <ion-label>
        <h2>{{ virement.dateInitiation | date: 'short' }}</h2>
        <p>Type: {{ virement.typeVirement }}</p>
        <p>Montant: {{ virement.montant }}</p>
        <p>Compte Source: {{ virement.numCpt }}</p>
        <p>Compte Destination: {{ virement.compteBeneficiaire }}</p>
        <p>Statut: {{ virement.statut }}</p>
        <p>Motif: {{ virement.motif }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
