/* Styles pour le logo dans l'en-tête */
.header-logo {
  height: 100px;
}

/* Styles pour le message de bienvenue */
.welcome-message h2 {
  font-size: 2rem;
  font-weight: normal;
  color: #000;
  margin-bottom: 0.25rem;
  text-align: center;
}

/* Styles pour la carte de bienvenue */
.welcome-card {
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  color: #005288;
  text-align: center;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 16px;
  margin-bottom: 32px;
  --ion-item-background: #e6f7ff;
}

/* Styles spécifiques pour le titre et sous-titre de la carte de bienvenue */
.welcome-card h2 {
  font-size: 1.8rem;
}

.welcome-card p {
  font-size: 1.2rem;
  color: #007bff;
}

/* Styles pour la grille et les cartes de fonctionnalités */
.feature-grid {
  --ion-grid-column-padding: 0;
  --ion-grid-padding: 0;
  margin-top: 32px;
}

/* Styles pour chaque colonne de la grille */
.feature-grid ion-col {
  padding: 8px;
}
/* Styles pour les cartes de fonctionnalités */
.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #007bff; /* Bleu STB Bank */
  color: white; /* Texte en blanc */
  margin: 8px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  height: 100px; /* Hauteur fixe pour toutes les cartes */
}

.feature-card ion-card-content {
  padding: 10px; /* Espace intérieur pour le contenu de la carte */
}

.feature-card ion-icon {
  margin-bottom: 0.5rem;
}



/* Styles pour le texte dans les cartes de fonctionnalités */
.feature-card p {
  font-size: 1.1rem;
  margin: 0;
}
.feature-card:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* Black background with opacity */
  display: flex;
  justify-content: center;
  align-items: center;
}

.virement-options {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
}


